@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.125em;
    margin-left: 0;
    margin-top: 0;
    height: 0
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.3040000000000003em;
    margin-left: 0;
    margin-top: 0;
    height: 0
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.76em;
    margin-left: 0;
    margin-top: 0;
    height: 0
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 3.6em;
    margin-left: 0;
    margin-top: 0;
    height: 0
  }
}